<div class="d-flex font-xs bold mb-4 mt-1">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
</div>

{{#if contest.max_attempts}}
  <IntermediateContestView 
    @nextRoute={{nextRoute}} 
    @handleUnverifiedEmail={{handleUnverifiedEmail}}
    @onAfterCreate={{onAfterCreate}} 
    @contest={{contest}} />
{{else}}
  <div class="row my-4">
    <div class="col-12 col-md-8 mb-5">
      <ContestViews::ContestDefaultView
        @contest={{contest}}                        
      />        
    </div>
    <div class="col-12 col-md-4">
      <PracticeFilterComponent
        @status={{status}}
        @changeStatusFilter={{action (mut status)}}
        @difficulty={{difficulty}}
        @changeDifficultyFilter={{action (mut difficulty)}} 
        @tags={{tags}}
        @changeTagsFilter={{action (mut tags)}} />
      {{#if contest.controlFlags.show-leaderboard}}
        <div class="border-card py-5 mt-4 p-0">
          <LeaderboardView
            @title ='leaderboard'
            @for = 'contest'
            @theme = 'orange'
            @contestId = {{contest.id}} />    
        </div>
      {{/if}}
    </div>
  </div>

{{/if}}
